.logo {
    margin-top: 37px;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif; /*The required font is not to find. */
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    }

.logo-dot {
    color: #A3DC00;
    }

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    }

.header-home {
    margin-top: 48px;
    margin-left: 98px;
    }

.header-about {
    margin-top: 48px;
    margin-left: 38px;
    }

.header-blog {
    margin-top: 48px;
    margin-left: 40px;
    }

.header-contact {
    margin-top: 48px;
    margin-left: 38px;
    }

.header-sign {
    margin-top: 48px;
    margin-left: 752px;
    }

.header-button {
    margin-top: 30px;
    margin-left: 40px;
    width: 120px;
    height: 59.65px;
    background: #824FF1;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }

section {
    display: inline-block;
    }

.main-title {
    max-width: 495px; /*same values but a diffrent look! Why? */
    width: 100%;
    margin-top: 201px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    }

.main-text {
    width: 100%;
    width: 583px;
    margin-top: 12px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
    }

.main-button {
    width: 152px;
    height: 63.82px;
    margin-top: 50px;
    margin-left: 200px;
    background: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    }